<div class="card login-container">
    <div class="card-header text-center" > Login Page</div>
<div class="card-body">
    <div class="mb-3">
        <label for="username">Choose A Username</label>
        <input type="text" class="form-control form-control-lg" name="username" id="username"  autocomplete="off" placeholder="Username">
    </div>
    <div class="mb-3">
        <label for="password">Choose A Password</label>
        <input type="password" class="form-control form-control-lg" name="password" id="password" autocomplete="off" placeholder="Password">
    </div>
    <a href="/auth/google" class="btn red darken-1 text-white">
      <i class="fab fa-google-plus-g"></i> Log In With Google
    </a>
    </div>
</div>